$colorpicker-size: 25px;
$colorpicker-margin: 1px;
$colorpicker-grid: $colorpicker-size + ($colorpicker-margin*2);

div.colorPicker-picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div.colorPicker-palette {
  width: $colorpicker-grid * 4;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #fff;
  padding: 1px;
  z-index: 9999;
}

div.colorPicker_hexWrap {width: 100%; float:left }
div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: $colorpicker-size;
  width: $colorpicker-size;
  margin: $colorpicker-margin;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
