// Font sizes
$fontsize-jumbo:   72px;
$fontsize-xxxl:    48px;
$fontsize-xxl:     36px;
$fontsize-xl:      22px;
$fontsize-lg:      18px;
$fontsize-content: 17px;
$fontsize-md:      15px;
$fontsize-sm:      13px;

// Line-heights
$lineheight-xxl:     (42/36);
$lineheight-xl:      (26/22);
$lineheight-lg:      (26/18);
$lineheight-content: (25/17);
$lineheight-md:      (22/15);
$lineheight-sm:      (18/13);

// Lengths
$content-padding-xs: 5px;
$content-padding-sm: 10px;
$content-padding: 15px;
$content-padding-lg: 25px;

// Color 
$subtle-black: #3a3a3c;
$border-shade: rgba(#000, .1);

// Font 
$sans-serif: "Roboto", sans-serif;
$font-interface: $sans-serif;
