@import url(//fonts.googleapis.com/css?family=Roboto); 

body {
	font-family: 'Roboto',Helvetica, sans-serif;
	font-size: 15px;
}

.container {
	margin: 0 auto;
	max-width: 45em;
	color: #707271;
}

.img-responsive {
	max-width: 100%;
}

h3 {
	color: #77BD22;
	margin-top: 2em;
	margin-bottom: 0;
}

h1 {
	margin-top: 1em;
}

h1 + h3,
h2 + h3 {
	margin-top: 0;
}

.examples {
	padding-top: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

.examples p {
	padding: 0 28px;
}